<!-- Select one Note -->
<div *ngFor="let notedetail of notedetails">
  <!-- Title of Note -->
  <p>
    {{notedetail.title}}
  </p>
  <!-- Description of Note -->
  <p>
    {{notedetail.description}}
  </p>

  <mat-divider></mat-divider>

  <!-- Ask Question -->
  <div *ngIf="notedetail.questionAndAnswerNotes==''">
    Ask a Question
    <div placeholder="Type something" [(froalaModel)]="question" [froalaEditor]></div>
    <div fxLayoutAlign="end center">
      <button (click)=askquestion(notedetail.id)>Ask</button>
    </div>
  </div>

  <!-- Question Asked -->
  <div *ngIf="notedetail.questionAndAnswerNotes!=''">
    Question Asked
    <div innerHTML="{{notedetail.questionAndAnswerNotes[0].message}}"></div>

    <mat-divider></mat-divider>

    <div *ngFor="let notequestion of notedetail.questionAndAnswerNotes">
      <div *ngIf="notequestion.isApproved==true && notequestion.parentId==notedetail.questionAndAnswerNotes[0].id">
        <!-- First Row of answers -->
        <div fxLayout="row">
          <!-- UserDetails -->
          <div>
            {{notequestion.user.firstName}} {{notequestion.user.lastName}}
          </div>

          <!-- Time -->
          <div style="padding-left: 10px">
              {{notequestion.createdDate | date:'short'}}
            </div>

          <!-- Reply -->
          <div>
            <button mat-icon-button (click)="reply(notequestion.id)">
              <mat-icon>reply</mat-icon>
            </button>
          </div>

          <!-- Like Action -->
          <div>
            <!-- First Like -->
            <div *ngIf="notequestion.like==''">
              <button mat-icon-button (click)="like(notequestion.id)">
                <mat-icon>thumb_up_alt</mat-icon>
              </button>
            </div>

            <!-- Like and dislike -->
            <div *ngIf="notequestion.like!=''">
              <div *ngIf="displayIcon(notequestion.like)">
                <!-- Like -->
                <div *ngIf="!state || !flag">
                  <button mat-icon-button (click)="like(notequestion.id)">
                    <mat-icon>thumb_up_alt</mat-icon>
                  </button>
                </div>

                <!-- Dislike -->
                <div *ngIf="state">
                  <button mat-icon-button (click)="dislike(notequestion.id)">
                    <mat-icon>thumb_down_alt</mat-icon>
                  </button>
                </div>

              </div>

            </div>

          </div>

          <!-- Count of Like -->
          <div *ngIf="count(notequestion.like)">
            sadsa
          </div>
          <div>{{counting}} likes</div>

          <!-- Rating -->
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="1 stars">1 star</label>
          </div>

        </div>
        <!-- Second Row of Answer -->
        <div innerHTML="{{notequestion.message}}"></div>

        <!-- Replies of answers -->
        <div *ngFor="let question of notedetail.questionAndAnswerNotes" class="reply">
          <div *ngIf="question.isApproved==true && question.parentId==notequestion.id">
            <!-- First Row of answers -->
            <div fxLayout="row">
              <!-- UserDetails -->
              <div>
                {{question.user.firstName}} {{question.user.lastName}}
              </div>

              <!-- Time -->
          <div style="padding-left: 10px">
              {{question.createdDate | date:'short'}}
            </div>

              <!-- Like Action -->
              <div>
                <!-- First Like -->
                <div *ngIf="question.like==''">
                  <button mat-icon-button (click)="like(question.id)">
                    <mat-icon>thumb_up_alt</mat-icon>
                  </button>
                </div>

                <!-- Like and dislike -->
                <div *ngIf="question.like!=''">
                  <div *ngIf="displayIcon(question.like)">
                    <!-- Like -->
                    <div *ngIf="!state">
                      <button mat-icon-button (click)="like(question.id)">
                        <mat-icon>thumb_up_alt</mat-icon>
                      </button>
                    </div>

                    <!-- Dislike -->
                    <div *ngIf="state">
                      <button mat-icon-button (click)="dislike(question.id)">
                        <mat-icon>thumb_down_alt</mat-icon>
                      </button>
                    </div>

                  </div>

                </div>

              </div>

               <!-- Count of Like -->
          <div *ngIf="count(question.like)">
              sadsa
            </div>
            <div>{{counting}} likes</div>

            </div>

            <!-- Second Row of Answer -->
            <div innerHTML="{{question.message}}"></div>
          </div>
        </div>

        <div *ngIf="notequestion.id==openid && show==true">
          <div placeholder="Type something" [(froalaModel)]="answer" [froalaEditor]></div>
          <div fxLayoutAlign="end center">
            <button (click)=reply(notequestion.id)>Ask</button>
          </div>
        </div>
        <mat-divider></mat-divider>





      </div>

    </div>
    <div *ngIf="show==false">
      <div placeholder="Type something" [(froalaModel)]="answer" [froalaEditor]></div>
      <div fxLayoutAlign="end center">
        <button (click)=reply(notedetail.questionAndAnswerNotes[0].id)>Ask</button>
      </div>
    </div>
  </div>
</div>