<div class="container" fxLayout.xs="column" fxLayout.sm="column">
  <!-- Left Side -->
  <img src="/assets/Note-taking-pin-773x1024.png" class="left-image" fxFlex="40">

  <!-- Right Side -->
  <mat-card class="round-card" fxFlex="40">
    <div class="center">
      <img src='../../assets/Note-taking.png' class="logo">
      <h1>Sign Up</h1>
    </div>

    <form novalidate name="registerForm">
    <!-- First Name -->
    <mat-form-field class="text" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label class="space">First Name</mat-label>
      <input matInput class="space" placeholder="First Name "[formControl]="firstName" required> 
      <mat-error *ngIf="firstName.invalid">{{FirstNameInvalidMessage()}}</mat-error>
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field class="text" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label class="space">Last Name</mat-label>
      <input matInput class="space" placeholder="Last Name" [formControl]="lastName" required>
      <mat-error *ngIf="lastName.invalid">{{LastNameInvalidMessage()}}</mat-error>
    </mat-form-field>
  
    <!-- Email -->
    <mat-form-field class="text" appearance="outline">
      <mat-icon matPrefix>email</mat-icon>
      <mat-label class="space">Email</mat-label>
      <input matInput class="space" placeholder="Email" [formControl]="email" type="email" required>
      <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
    </mat-form-field>
    
    <!-- Password -->
    <mat-form-field class="text" appearance="outline">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-label class="space">Password</mat-label>
      <input matInput class="space" placeholder="Password" [formControl]="password" required minlength="8" [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="password.invalid">{{PasswordInvalidMessage()}} </mat-error>
      <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Password must be 8 characters long</mat-hint>
    </mat-form-field>

    <!-- Confirm-Password -->
    <mat-form-field class="text" appearance="outline">
        <mat-icon matPrefix>lock_open</mat-icon>
        <mat-label class="space">Confirm-Password</mat-label>
        <input matInput class="space" placeholder="Confirm-Password">
        
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
      <div class="login">
          <button mat-raised-button color="warn" (click)="onRegister()">Register</button>
        </div>
      
    <br><a>Already have an account??</a>
    <br><a routerLink="/login">Sign In</a>
    
  </mat-card>
</div>