.header-icon {
    padding: 0 14px;
  }
.header-spacer {
    flex: 1 1 auto;
  }

.header-image{
    width: 50%;
    border-radius: 5px;
}

.search-size{
    width: 70%;
    transform: translateY(+0.5em) scaleY(0.70);
}

.below-header{
    min-height: 90vh;

    .nav-card{
        display: flex;
        background-color: #F5F5F5;
        width: 20%;
        .list{
            width:100%;
        }
    }

    .rem-card{
        background-color: #6dbbae;
        min-height: 90vh;
        padding-top: 5%;
    }

    .hover-round:hover{
        background-color: lightgrey;
        border-radius: 0px 20px 20px 0px;
      }
}

