@import '../../appstyle/colors.scss';
.color{
    background-color: $theme;
    
    .header-image{
        width: 20%;
        border-radius: 5px;
    }
    
    .search-size{
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
    }

    .header-hover:hover{
        color: $hovercolor;
    }
} 

.below-header{
    height: 90vh;
    .icon-spacer {
        padding-right: 14px;
      }
    .nav-card{
        background-color: $theme;
        .list{
            width:100%;
        }
    }

    .hover-round:hover{
        background-color: $hovercolor;
        border-radius: 0px 50px 50px 0px;
      }
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .searchbar{
      padding-top: 80px;
width: 100%;
transform: translateY(-1.1em) scale(.75);
  }

  .disp{
    background-color: $theme;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  .message {
    position: absolute;
    width: 90%;
    top: 54%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 1;
    // border-radius: 50%;
    // background-color: rgba(0,0,0,0.54);
    // color: white;
  }

  .accountmatcard{
    height: 165px;
    width: 250px;
      }