<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<!-- Header Line -->
<mat-toolbar fxFlexLayout="row" class="color">
  <!-- Header Left-Side -->
  <div fxFlexLayout="row" fxLayoutAlign="start center" fxFlex="20">
    <button mat-icon-button matTooltip="Main menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/google-keep-2-569459.png" class="header-image">
    <h1>fundooNotes</h1>
  </div>

  <div fxFlex="60" fxLayoutAlign="space-around">
    <mat-form-field class="searchbar" appearance="outline" fxHide.xs="true" fxShow="true">
      <button mat-icon-button matPrefix (click)=search()  routerLink="/search">
        <mat-icon>search</mat-icon>
      </button>
      <input matInput class="search-spacer" (ngModelChange)="valuechange($event)" [(ngModel)]="searchText" placeholder="Search">
      <button matSuffix mat-icon-button (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div fxFlex="20" fxLayoutAlign="space-around">

    <!-- Grid View -->
      <div *ngIf="view=='grid'">
          <button mat-icon-button class="header-hover" matTooltip="List View" (click)=listview()>
              <i class="material-icons-outlined">view_agenda</i>  
            </button>
      </div>
    
      <!-- List View -->
      <div *ngIf="view=='list'">
          <button mat-icon-button class="header-hover" matTooltip="Grid View" (click)=gridview()>
              <i class="material-icons-outlined">border_all</i>  
            </button>
        </div>



    <button mat-icon-button class="header-hover" matTooltip="Add to cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="Userdetails" class="header-hover" matTooltip="Google Account">
      <img mat-card-avatar [src]= "url? url : 'https://www.w3schools.com/howto/img_avatar.png'"></button>
      
      <mat-menu #Userdetails [overlapTrigger]="false">
        <div class="accountmatcard" fxLayout="column" fxLayoutAlign="space-around center" >
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <div class="image-container">
                  <img [src]="url? url : 'https://www.w3schools.com/howto/img_avatar.png'"> <br/>
                  <span (click)=openDialog() class="message">Change</span>
                 </div>
                <div>
          <p>{{name}}</p>
          <p>{{email}}</p>
        </div>
          </div>
          <mat-divider></mat-divider>
        <div fxLayout="row">
          <div><button mat-menu-item routerLink="login">Add account</button></div>
          <div><button mat-menu-item (click)="logout()" routerLink="login">Sign out</button></div>
        </div>
        </div>
      </mat-menu>
  </div>

</mat-toolbar>
<mat-divider></mat-divider>

<!-- Below Header -->
<mat-sidenav-container class="below-header">
  <!-- SideBar -->
  
  <mat-sidenav id="myDiv" class="nav-card" #sidenav mode="side">
    <mat-nav-list class="list">
      <div class="hover-round" routerLinkActive="cd" routerLink="/note" fxLayoutAlign="none center">
        <i class="material-icons-outlined icon-spacer">emoji_objects</i>Notes
    </div>
    
      <div routerLinkActive="cd" routerLink="/reminders" class="hover-round" fxLayoutAlign="none center">
          <i class="material-icons-outlined icon-spacer">notifications_none</i>Reminders
      </div>

      <mat-divider></mat-divider>
      <h6 mat-subheader>LABELS</h6>

      <div *ngFor="let label of labels">
          <div class="hover-round" routerLinkActive="cd" routerLink="/label/{{label.label}}" fxLayoutAlign="none center" (click)=openlabel(label.label)>
            <i class="material-icons-outlined icon-spacer">label</i>{{label.label}}
          </div>
      </div>
      <div (click)="openlabelDialog()" class="hover-round" fxLayoutAlign="none center">
          <i class="material-icons-outlined icon-spacer">create</i>Edit labels
      </div>
      
      <mat-divider></mat-divider>
      <div routerLinkActive="cd" routerLink="/archive" class="hover-round" fxLayoutAlign="none center">
        <i class="material-icons-outlined icon-spacer">archive</i>Archive
      </div>
      <div routerLinkActive="cd" routerLink="/trash" class="hover-round" fxLayoutAlign="none center">
        <i class="material-icons-outlined icon-spacer">delete</i>Trash
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Other than NavBar -->
  <mat-sidenav-content class="disp" >
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>