@import '../../appstyle/colors.scss';
.color{
    background-color: $theme;
    
    .header-spacer {
        flex: 1 1 auto;
      }
    
    .header-image{
        width: 20%;
        border-radius: 5px;
    }
    
    .searchcard{
        width : 300px;
        height : 0px;
        border-radius: 10px;
    .search-size{
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
    }
}
    .header-hover:hover{
        color: $hovercolor;
    }
}
.icon-spacer {
    padding-right: 14px;
  }

.below-header{
    min-height: 90vh;

    .nav-card{
        display: flex;
        background-color: $theme;
        width: 20%;
        .list{
            width:100%;
        }
    }

    .rem-card{
        background-color: $theme;
        min-height: 90vh;
        padding-top: 5%;
        height: 100%;
        width: 100%;
    }

    .hover-round:hover{
        background-color: $hovercolor;
        border-radius: 0px 50px 50px 0px;
      }
}

