.first-card{
    width: 360px;
    border-radius: 10px;
    .field{
        width:100%;
    }
}
.second-card{
    width: 360px;
    border-radius: 10px;
    .take-note-size{
        min-height: 50px;
    }
}




