<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="display:flex">
  <!-- First half -->
  <div (click)="toggle()" *ngIf="show" >
    <!-- MatCard -->
    <mat-card class="first-card">
      <!-- Field -->
      <div fxLayout="row">
        <textarea matInput cdkTextareaAutosize placeholder="Take a note..." ></textarea>
        <!-- <button mat-icon-button matSuffix><i class="fa fa-thumb-tack"></i></button> -->
      </div>
      <!-- ------------ -->
    </mat-card>
    <!-- ------- -->
  </div>

  <!-- Other half -->
  <div *ngIf="!show">
    <!-- MatCard -->
    <mat-card fxLayout="column" class="second-card" fxLayoutGap="20px" fxLayoutAlign="space-between">
      <!-- Title Line -->
      <div >
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20" [formControl]="title" placeholder="Title"></textarea>
      </div>

      <!-- Note Line -->
      <div >
        <textarea class="take-note-size" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20" [formControl]="description" placeholder="Take a note..."></textarea>
      </div>

      <!-- Notes Footer -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <app-notesfooter></app-notesfooter>
        </div>
        <div><button mat-button (click)="receiveData()">Close</button></div>
      </div>
      <!-- ------------- -->
    </mat-card>
  </div>
  <!-- ---------- -->
</div>