<div fxLayout="row">
    <button matSuffix mat-icon-button (click)="labelmodel=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-form-field>
          <input matInput placeholder="Create new label" [(ngModel)]="labelmodel" [formControl]="labelinput">
        </mat-form-field>
<button mat-icon-button (click)="addlabel()"><mat-icon>done</mat-icon></button>
</div>
<div *ngFor= "let label of labels" fxLayout="row">
    <button mat-icon-button (click)="deletelabel(label.id)" matTooltip="Delete label"><mat-icon>delete</mat-icon></button>
    <mat-form-field>
        <input matInput placeholder="Enter label name" value="{{label.label}}" [formControl]="labelupdate" >
      </mat-form-field>
    <button mat-icon-button (click)="updatelabel(label)" matTooltip="Rename label"><mat-icon>done</mat-icon></button>
  </div>
<mat-divider></mat-divider>
<div fxLayoutAlign="end">
<button mat-button (click)="close()">Save</button>
</div>