<div *ngIf="function=='all'" fxLayoutAlign="space-around" style="display:flex">
  <app-reminder-icon (ReminderEvent)="receiveReminder($event)" [id]="noteId"></app-reminder-icon>
  <button mat-icon-button (click)="openDialog(noteId)" matTooltip="Collaborator">
    <mat-icon>person_add</mat-icon>
  </button>
  <app-color-icon (messageEvent)="receiveMessage($event)" [id]="noteId"></app-color-icon>
  <button mat-icon-button matTooltip="Add image">
    <mat-icon>image</mat-icon>
  </button>
  <app-archive-icon (ArchiveEvent)="receiveArchive($event)" [id]="noteId"></app-archive-icon>
  <app-matmenu-icon [mat]=function [id]="noteId"></app-matmenu-icon>
</div>

<div *ngIf="function=='archive'" fxLayoutAlign="space-around" style="display:flex">
    <app-reminder-icon (ReminderEvent)="receiveReminder($event)" [id]="noteId"></app-reminder-icon>
  <button mat-icon-button (click)="openDialog(noteId)" matTooltip="Collaborator">
    <mat-icon>person_add</mat-icon>
  </button>
  <app-color-icon (messageEvent)="receiveMessage($event)" [id]="noteId"></app-color-icon>
  <button mat-icon-button matTooltip="Add image">
    <mat-icon>image</mat-icon>
  </button>
  <app-unarchive-icon [id]="noteId"></app-unarchive-icon>
  <app-matmenu-icon [mat]=function [id]="noteId"></app-matmenu-icon>
</div>

<div *ngIf="function=='trash'" fxLayoutAlign="space-around" style="display:flex">
  <app-matmenu-icon [mat]=function [id]="noteId"></app-matmenu-icon>
</div>