/* You can add global styles to this file, and also import other style files */

.example-card {
    width: 400px;
    background-color: #6dbbae;
    border-radius: 50px;
  }
  .center1{
    text-align: center;
  }
  .example-header-image {
    max-width: 100px;
    max-height: 50px;
    display: inline-block;
    border-radius: 80%;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
    border-radius: 20%;
  }
.center{
  position: absolute;
  left: 57%;
  top: 20%;
}

.image-left{
  position: absolute;
  right: 50%;
  top: -2%;
}

.example-header1-image {
  background-position: 50%;
  display: inline-block;
  height: 40px;
  width: 50px;
  border-radius: 1000%;
}

.Text{
  width: 380px;
}

.space{
    margin-left: 4px;
}