<!-- Left Side -->
<span class="image-left"><img src="../assets/Note-taking-pin-773x1024.png" width="600" height="700"></span>

<!-- Right Side -->
<div class="center">

<mat-card class="example-card">
  <div class ="center1">
        <div><img src='../../assets/Note-taking.png' class="example-header1-image"></div>
<h1>Sign In</h1>
<h3>Use your Google Account</h3>
</div>
        <!-- Email -->
        <mat-form-field class="Text" appearance="outline" fxLayoutGap="20px">
            <mat-icon matPrefix>email</mat-icon>
          <mat-label class="space">Email or phone</mat-label>
          <input matInput class="space" placeholder="Email or phone">
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="Text" appearance="outline">
            <mat-icon matPrefix>lock&nbsp;</mat-icon>
            <mat-label class="space">Password</mat-label>
            <input matInput class="space" placeholder="Email or phone">
          </mat-form-field>

      <br><a href = "">Forgot Email?</a>
      <br><br><br><a>Not your computer? Use Guest mode to sign in privately.</a>
      <br><a routerLink = "register">Create Account</a>
<div class="example-button-row">
    <br><button mat-raised-button color="warn">Next</button>
</div>
</mat-card>

</div>
