<div *ngIf="(mat=='all'|| mat =='archive')">
<button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu [overlapTrigger]="false">
        <button mat-menu-item (click)="trash(id)">Delete Note</button>
        <button mat-menu-item [matMenuTriggerFor]="addlabel">Add label</button>
        <button mat-menu-item (click)=question(id)>Ask question</button>
        <div *ngIf="!show">
        <button mat-menu-item (click)=checkbox(id)>Show checkboxes</button>
      </div>
      <div *ngIf="show">
          <button mat-menu-item (click)=checkbox(id)>Hide checkboxes</button>
        </div>
      </mat-menu>
    </div>
    <div *ngIf="mat=='trash'">
      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu"><mat-icon >more_vert</mat-icon></button>
      <mat-menu #menu [overlapTrigger]="false">
        <button mat-menu-item (click)="deleteforever(id)">Delete forever</button>
        <button mat-menu-item (click)="restore(id)">Restore</button>
      </mat-menu>
    </div>

    <mat-menu #addlabel [overlapTrigger]="false">
        <button mat-menu-item>Add label</button>
      <mat-selection-list (selectionChange)="selectionChange($event.option)">
        <mat-list-option *ngFor="let label of labels" (click)="addlabeltonotes(label,id)">
          {{label.label}}
        </mat-list-option>
      </mat-selection-list>
      </mat-menu>