<b>Collaborators</b>
<mat-divider></mat-divider>
<mat-card-header>
    <img mat-card-avatar [src]= "url? url : 'https://www.w3schools.com/howto/img_avatar.png'">
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>{{email}}</mat-card-subtitle>
  </mat-card-header>



<div *ngFor="let collab of collabs" fxLayout="row" fxLayoutAlign="space-between">
  <mat-card-header>
    <img mat-card-avatar [src]= "url? 'https://www.w3schools.com/howto/img_avatar.png' : 'https://www.w3schools.com/howto/img_avatar.png'">
    <mat-card-title>{{collab.firstName}}</mat-card-title>
    <mat-card-subtitle>{{collab.email}}</mat-card-subtitle>
  </mat-card-header>
  <button mat-icon-button (click)="deletecollaboratorfromnotes(collab.userId, notedetails.id)">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div *ngFor="let collab of collabArray">
    <mat-card-header>
        <img mat-card-avatar [src]= "url? 'https://www.w3schools.com/howto/img_avatar.png' : 'https://www.w3schools.com/howto/img_avatar.png'">
        <mat-card-title>{{collab.firstName}}</mat-card-title>
        <mat-card-subtitle>{{collab.email}}</mat-card-subtitle>
      </mat-card-header>
      <button mat-icon-button (click)="deletecollaboratorfromnotes(collab.userId, notedetails.id)">
        <mat-icon>close</mat-icon>
      </button>
</div>

  <div fxLayout="row">
    <input matInput placeholder="Person or email to share with" (ngModelChange)="valuechange($event)" [(ngModel)]="searchPeople" [formControl]="myControl" [matAutocomplete]="auto">
    <button matSuffix mat-icon-button (click)="addCollaborator()">
        <mat-icon>done</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="end center">
      <button mat-button (click)="close()">Done</button>
    </div>
    <mat-autocomplete #auto>
      <mat-option *ngFor="let option of options" [value]="option.email">
        {{option.email}}
      </mat-option>
    </mat-autocomplete>
 