<div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card fxFlex="30" class="dcard" *ngFor="let note of notes" [ngStyle]="{background:note.color}" fxFlex.sm="40" fxFlex.xs="80">
    <div (click)="openDialog(note)">
        <p style="word-break: break-all;">{{note.title}}</p>
    </div>
    <div (click)="openDialog(note)">
        <p style="word-break: break-all;">{{note.description}}</p>
    </div>
    <div >
      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu"><mat-icon >more_vert</mat-icon></button>
      <mat-menu #menu [overlapTrigger]="false">
        <button mat-menu-item (click)="deleteforever(note.id)">Delete forever</button>
        <button mat-menu-item (click)="restore(note.id)">Restore</button>
      </mat-menu>
    </div>
  </mat-card>
</div>