.container{
    justify-content: center;
    align-items: stretch;
    height: 90vh;
  }

  .round-card {
      width: 350px;
    }
  
  .center{
      text-align: center;
    }
  
  .text{
  width: 100%;
  }
  
  .space{
      margin-left: 4px;
  }

  .mat-raised-button {
    background-color: #0C65D0;
    color: #FFF;
    margin-right: 8px;
    border-radius: 10%;
    }
  
  h1{
    color: #FFBA33;
   }