.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  .left-image{
    border-radius: 50px;
  }
  .round-card {
      width: 400px;
      background-color: #d7e6e3;
      border-radius: 50px;
      flex-basis: 10%;
    }
  
  .center{
      text-align: center;
    }
  
  .logo {
      width: 100px;
      height: 100px;
      display: inline-block;
      border-radius: 50%;
    }
  
  .reset button{
      margin-right: 8px;
      border-radius: 20%;
    }
  
  .text{
  width: 100%;
  }
  
  .space{
      margin-left: 4px;
  }