<div >
    <div>
        <p> <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20" [formControl]="title" placeholder="Title" value="{{data.title}}"></textarea></p>
    </div>
    <div >
        <p> <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20" [formControl]="description" placeholder="description" value="{{data.description}}"></textarea></p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <app-notesfooter></app-notesfooter>
      </div>
      <div><button mat-button (click)="updateData()">Close</button></div>
    </div>
  </div>