<div class="container" fxLayout.xs="column" fxLayout.sm="column">
  <!-- Left Side -->
  <img src="/assets/Note-taking-pin-773x1024.png" class="left-image" fxFlex="40">

  <!-- Right Side -->
  <mat-card class="round-card" fxFlex="40">
    <div class="center">
      <img src='../../assets/Note-taking.png' class="logo">
      <h1>Forgot Password</h1>
    
    <!-- Email -->
    <mat-form-field class="text" appearance="outline">
      <mat-icon matPrefix>email</mat-icon>
      <mat-label class="space">Email</mat-label>
      <input matInput class="space" placeholder="Email" [formControl]="email" required type="email">
      <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
    </mat-form-field>
    <div class="login">
        <button mat-raised-button color="warn" (click)=onForgotPassword()>Forgot</button>
      </div>
    <br><a>Remember Password??</a>
    <br><a routerLink="/login">Sign In</a>
    
  </div>
  </mat-card>
</div>