.dcard{ 
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0.94) scaleY(0.8);
   
}

.hide-icon mat-icon{
    display: none;
  }

.hide-icon:hover mat-icon{
    display: block;
  }

  .hide{
    opacity: 0;
  }

.hide:hover {
    opacity: 1;
  }