.gridcard{ 
  border-radius: 10px;
  // transform: scaleX(0.94) scaleY(0.8);
  height: fit-content;
  min-width: 240px;
  max-width: 280px;
  margin-top: 10px;
}

.listcard{ 
  border-radius: 10px;
  //transform: scaleX(0.94) scaleY(0.8);
  height: fit-content;
  margin-top: 10px;
}

// .hide{
//   opacity: 0;
// }

.hide {
  opacity: 0;
}
.hide:not(:focus):hover {
  opacity: 1;
}
.hide:focus {
  opacity: 1;
  outline: none;
}

// .hide:hover {
//   opacity: 1;
// }

mat-chip{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
