<div fxLayout="row wrap" *ngIf="view=='grid'">
  <mat-card fxFlex="33" class="dcard" *ngFor="let note of display" [ngStyle]="{background:note.color}" fxFlex.sm="48"
    fxFlex.xs="80">
    <div (click)="openDialog(note)">
      <p style="word-break: break-all;">{{note.title}}</p>
    </div>
    <div (click)="openDialog(note)">
      <p style="word-break: break-all;">{{note.description}}</p>
    </div>
    <div *ngFor="let noteLabel of note.noteLabels">
      <mat-chip-list>
        <mat-chip class="hide-icon">{{noteLabel.label}}
          <button mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
        <span></span>
      </mat-chip-list>
    </div>

    <div *ngFor="let reminder of note.reminder">
      <mat-chip-list>
          
        <mat-chip ><mat-icon>access_time</mat-icon>{{reminder}}
          <button class="hide" mat-icon-button (click)="deletereminderfromnotes(reminder, note.id)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
        <span></span>
      </mat-chip-list>
    </div>

    <div *ngFor="let collab of note.collaborators">
        <button mat-mini-fab color="accent" matTooltip="{{collab.email}}">{{collab.firstName[0] | uppercase}}</button>
      </div>

    <div class="hide">
      <app-notesfooter [function]="component" (messageEvent)="receiveMessage($event)" [noteId]="note.id">
      </app-notesfooter>
    </div>
  </mat-card>
</div>

<div fxLayout="row wrap" *ngIf="view=='list'">
    <mat-card fxFlex="100" class="dcard" *ngFor="let note of display" [ngStyle]="{background:note.color}">
      <div (click)="openDialog(note)">
        <p style="word-break: break-all;">{{note.title}}</p>
      </div>
      <div (click)="openDialog(note)">
        <p style="word-break: break-all;">{{note.description}}</p>
      </div>
      <div *ngFor="let noteLabel of note.noteLabels">
        <mat-chip-list>
          <mat-chip class="hide-icon">{{noteLabel.label}}
            <button mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
          <span></span>
        </mat-chip-list>
      </div>
  
      <div *ngFor="let reminder of note.reminder">
        <mat-chip-list>
          <mat-chip><mat-icon>access_time</mat-icon>{{reminder}}
            <button  class="hide" mat-icon-button (click)="deletereminderfromnotes(reminder, note.id)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
          <span></span>
        </mat-chip-list>
      </div>
  
      <div *ngFor="let collab of note.collaborators">
          <button mat-mini-fab color="accent" matTooltip="{{collab.email}}">{{collab.firstName[0] | uppercase}}</button>
        </div>
  
      <div class="hide">
        <app-notesfooter [function]="component" (messageEvent)="receiveMessage($event)" [noteId]="note.id">
        </app-notesfooter>
      </div>
    </mat-card>
  </div>